In [6]:
import pandas as pd                       #to perform data manipulation and analysis
import numpy as np                        #to cleanse data
from datetime import datetime             #to manipulate dates
import plotly.express as px               #to create interactive charts
import plotly.graph_objects as go         #to create interactive charts
from jupyter_dash import JupyterDash      #to build Dash apps from Jupyter environments
from dash import dcc        #to get components for interactive user interfaces
from dash import html       #to compose the dash layout using Python structures
import dash_bootstrap_components as dbc
from dash.dependencies import Input, Output, State
import datetime
from dash import dash_table
import json
import calendar

import importlib
import utils
import init_database

In [2]:
importlib.reload(utils)

In [7]:
df = init_database.init_database()

In [8]:
utils.fill_in_missing_date(df.groupby('date')['amount'].sum().reset_index(name ='sum'), '2021-01-01', '2021-10-02')

                 date  sum
2021-01-01 2021-01-01    0
2021-01-02 2021-01-02    0
2021-01-03 2021-01-03    0
2021-01-04 2021-01-04    0
2021-01-05 2021-01-05    0
...               ...  ...
2021-09-28 2021-09-28    0
2021-09-29 2021-09-29    0
2021-09-30 2021-09-30    0
2021-10-01 2021-10-01    0
2021-10-02 2021-10-02    0

[275 rows x 2 columns]